.slider-text {
  padding: 1rem 0rem 0rem 0rem;
  width: 25rem;
  height: 15rem;
  color: white;
}
.products-slider {
  overflow-x: hidden;
  width: 100%;
  padding: 10px;
  background-color: #0d47a1;
  border-radius: 1px;
}
.products-slider img{
  z-index: -1;
}
.main-slider {
  padding: 1rem;
  margin: -15rem 0rem 0 20rem;
  position: relative;
}

.slider-title {
  color: white;
  text-align: left;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 600;
}
.product-card {
  width: 15vw !important;
  height: 18rem;
  background: white;
  border-radius: 3px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: auto !important;
}

.discount-badge {
  background: #ffd0cb;
  color: #ff6f61;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8rem;
}

.product-image {
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 10rem;
  margin-bottom: 10px;
}

.product-name {
  font-size: 1rem;
  margin: 10px 0 20px 0px;
}

.original-price {
  font-size: 0.8rem;
  text-decoration: line-through;
  color: grey;
}

.discounted-price {
  font-size: 1rem;
  color: #ff6f61;
  font-weight: bold;
}

.slider-price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}
@media (max-width: 1206px){
  .product-card{
    height: 17rem;
    width: 92% !important;
  }
}
@media (max-width: 1022px) {
  .product-card {
    width: 25vw !important;
  }
  .slider-text h2{
    font-size: 1rem;
    padding: 0;
  }
}

@media (max-width: 770px) {
  .product-card {
    width: 100% !important;
  }
  .main-slider{
    margin-left: -100px;
    margin:-15rem 0rem 0 11rem;
  }
}

@media (max-width: 400px){
  .main-slider{
    margin: -15rem 0rem 0px 8rem;
  }
  .product-card {
    height: 15rem;
}
}
