.dashboard-layout {
  display: flex;
  justify-content: flex-start;
}

.navigation {
  display: flex;
  text-align: left;
  margin: 20px 0;
  font-size: 14px;
  color: #666;
  gap: 5px;
  width: 11rem !important;
}
.navigation a {
  text-decoration: none;
  cursor: pointer;
}

.navigation .active {
  color: #0c68f4;
}

.admin-dashboard {
  background-color: #f9f9f9;
  width: 19rem;
  margin-top:5.7rem;
  height: 100vh;
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.4s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.admin-dashboard.closed {
  transform: translateX(-100%);
}
.admin-dashboard.open {
  transform: translateX(0);
}

.admin-dashboard-1 {
  cursor: pointer;
  display: flex;
  margin-top:0.8rem;
  gap: 10px;
  align-items: center;
  width: 15rem;
  top: 20px;
  left: 10px;
  z-index: 1100; 
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.admin-dashboard-1 img {
  width: 2.5rem;
  height: 2.5rem;
}

.admin-dashboard-1 p {
  font-weight: 700;
  font-size: 1.2rem;
}

.admin-dashboard-2 {
  cursor: pointer;
  display: flex;
  gap: 33px;
  margin: 46px 0 27px 10px;
  font-size: 1rem;
  height: 2.1rems;
  transition: background-color 0.3s ease;
}

.admin-dashboard-2 img {
  margin-left: 5px;
}

.admin-dashboard-2:hover {
  background-color: #e0e0e0;
}

.admin-submenu {
  padding-left: 30px;
  background-color: #f8f8f8;
}

.submenu-item {
  cursor: pointer;
  padding: 5px 0;
  font-size: 14px;
  color: #555;
}

.submenu-item:hover {
  color: #007bff;
}

.active-admin-dashboard {
  color: #007bff;
}

.inactive-admin-dashboard {
  color: rgb(27, 27, 27);
}
.dashboard-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
@media(max-width:400px){
  .admin-dashboard-1 p {
    font-size: 0.9rem;
}
}