.payment-container {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    gap: 2rem;
}

.payment-section {
    width: 55%;
    height: 100%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    padding: 1.5rem;
    border-radius: 10px;
}

.payment-section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.payment-methods {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.payment-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
}

.payment-option.selected {
    border-color: #007bff;
    background-color: #f0f8ff;
}

.payment-option input {
    margin-right: 0.5rem;
}

.payment-logo {
    font-size: 0.9rem;
    color: #007bff;
}

.edit-button,
.add-button {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #007bff;
}

.billing-address {
    margin-top: 1.5rem;
}

.billing-address-box {
    background-color: #fff;
    padding: 0.8rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.return-link {
    display: inline-block;
    margin-top: 1rem;
    color: #007bff;
    text-decoration: none;
    font-size: 0.9rem;
    cursor: pointer;
}

.order-section {
    width: 35%;
}
.line.right.payment-line {
    background-color: #007bff;
    width: 6.89rem;
    transition: background-color 0.5s ease, width 0.5s ease;
    height: 3px;
    left: 6.4rem;
}
.line.left.checkout-line {
    width: 6.99rem;
    left: 104px;
}
@media(max-width: 1050px){
    .payment-container {
        flex-direction: column;
    }
    .payment-section {
        width: 100%;
    }
}
@media(max-width:469px){
    .line.right.payment-line {
        width: 2.89rem;
        left: 4rem;
    }
    .line {
        left: 65px;
        width: 59%;
    }
}