.devices-slider-wrapper {
  overflow-x: auto;  
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; 
  scrollbar-width: none;
}
.slick-slide img {
  display: block;
  width: 5rem !important;
  height: 5rem !important;
}
.devices {
  display: flex;
  gap: 6rem;
  padding: 20px 0;
  flex-wrap: nowrap;  
  width: max-content;  
  margin-bottom: 3rem;
  cursor: pointer;
}

.device-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 9rem;
  height: 9rem;
  padding: 15px;
  border-radius: 5px;
  margin: 0 0 0px 49px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  white-space: normal; 
  scroll-snap-align: center; 
}

.device-container img {
  max-width: 80px; 
  margin-bottom: 5px;
}

.device-container p {
  font-size: 12px;
  font-weight: 500;
  color: #333;
  margin: 0;
  text-align: center;
}

.devices-slider-wrapper::-webkit-scrollbar {
  height: 8px;
}

.devices-slider-wrapper::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media (max-width: 1000px){
  .devices{
    gap: 2rem;
  }
  .device-container{
    min-width: 8rem;
    height: 8rem;
  }
}
@media (max-width: 768px) {
  .device-container p {
    font-size: 14px;
  }
  .device-container {
    min-width: 6rem;
    height: 7rem;
    margin:10px 0 0 40px;
}
.device-container img {
  max-width: 66px;
}
}

@media (max-width: 480px) {
  .devices {
    gap: 8px;
  }
  .device-container p {
    font-size: 12px;
  }
  .device-container {
    min-width: 5rem;
    height: 5rem;
}
.device-container img {
  max-width: 49px;
}
}
